In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.neural_network import MLPClassifier
from sklearn.metrics import accuracy_score

In [24]:
df=pd.read_csv("weatherAUS.csv")
df['Cloud3pm']=df['Cloud3pm'].fillna(0)
df['Cloud9am']=df['Cloud9am'].fillna(0)
df['Evaporation']=df['Evaporation'].fillna(0)
df['Sunshine']=df['Sunshine'].fillna(0)
df['MinTemp']=df['MinTemp'].fillna(0)
df['MaxTemp']=df['MaxTemp'].fillna(0)
df['WindGustSpeed']=df['WindGustSpeed'].fillna(0)
df=df.dropna(how='any')
df=df.drop(columns=['Date'])
df

       Location  MinTemp  MaxTemp  ...  Temp3pm  RainToday  RainTomorrow
0        Albury     13.4     22.9  ...     21.8         No            No
1        Albury      7.4     25.1  ...     24.3         No            No
2        Albury     12.9     25.7  ...     23.2         No            No
3        Albury      9.2     28.0  ...     26.5         No            No
4        Albury     17.5     32.3  ...     29.7         No            No
...         ...      ...      ...  ...      ...        ...           ...
145454    Uluru      3.5     21.8  ...     20.9         No            No
145455    Uluru      2.8     23.4  ...     22.4         No            No
145456    Uluru      3.6     25.3  ...     24.5         No            No
145457    Uluru      5.4     26.9  ...     26.1         No            No
145458    Uluru      7.8     27.0  ...     26.0         No            No

[112994 rows x 22 columns]

In [28]:
from sklearn.preprocessing import LabelEncoder
le1=LabelEncoder()
le2=LabelEncoder()
le3=LabelEncoder()
df['Location']=le1.fit_transform(df['Location'])
df['WindGustDir']=le2.fit_transform(df['WindGustDir'])
df['WindDir9am']=le2.fit_transform(df['WindDir9am'])
df['WindDir3pm']=le2.fit_transform(df['WindDir3pm'])
df['RainToday']=le3.fit_transform(df['RainToday'])
df['RainTomorrow']=le3.fit_transform(df['RainTomorrow'])
df['Rain prediction']=((df['RainToday']+df['RainTomorrow'])/2).astype(int)
df

        Location  MinTemp  MaxTemp  ...  RainToday  RainTomorrow  Rain prediction
0              1     13.4     22.9  ...          0             0                0
1              1      7.4     25.1  ...          0             0                0
2              1     12.9     25.7  ...          0             0                0
3              1      9.2     28.0  ...          0             0                0
4              1     17.5     32.3  ...          0             0                0
...          ...      ...      ...  ...        ...           ...              ...
145454        36      3.5     21.8  ...          0             0                0
145455        36      2.8     23.4  ...          0             0                0
145456        36      3.6     25.3  ...          0             0                0
145457        36      5.4     26.9  ...          0             0                0
145458        36      7.8     27.0  ...          0             0                0

[112994 rows x 23 columns]

In [29]:
X=df.iloc[:,:-1].values
y=df.iloc[:,-1].values

In [30]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

In [33]:
model=MLPClassifier(alpha=0.01, batch_size=256, epsilon=1e-08, learning_rate='adaptive', max_iter=500)
model.fit(X_train,y_train)

MLPClassifier(activation='relu', alpha=0.01, batch_size=256, beta_1=0.9,
              beta_2=0.999, early_stopping=False, epsilon=1e-08,
              hidden_layer_sizes=(100,), learning_rate='adaptive',
              learning_rate_init=0.001, max_fun=15000, max_iter=500,
              momentum=0.9, n_iter_no_change=10, nesterovs_momentum=True,
              power_t=0.5, random_state=None, shuffle=True, solver='adam',
              tol=0.0001, validation_fraction=0.1, verbose=False,
              warm_start=False)

In [34]:
res = model.predict(X_test)
res=np.round(res)
np.set_printoptions(precision=2)
print(res)

[0 0 1 ... 0 0 0]

In [35]:
print("Accuracy Score for the algorithm=>{}%".format(round(accuracy_score(y_test,res)*100),2))

Accuracy Score for the algorithm=>100%